body, h1, h2, h3, h4, h5, h6, ol, ul, li, a, p {
    list-style-type: none;
    font-size: 100%;
    font-family: Roboto;
    color: black;
    margin: 0px;
    padding: 0px;
}
a {
    text-decoration: none;
}
body {
    background: white;
}

article, aside, footer, header, hgroup, main, nav, section {
    display: block;
}

div {
    display: block;
}
.logo ul li:hover {
    color: lightblue;
  }
body {
    display: block;
    margin: 8px;
}

header {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-image: initial;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
.background-border {
    margin: 40px 0px 0px 20px;
    border: 1px solid darkgreen;
}

.course-type {
    margin: 40px;
    border-width: 1px;
    border-style: solid;
    border-color: darkgrey;
    border-image: initial;
    background: white;
}

.course-type h1 {
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin: 20px;
    border-bottom: 3px solid black;
    padding: 20px;
}

.all-courses {
    width: 250px;
    display: flex;
    justify-content: center;
    margin-top: 25px;
    font-size: 20px;
    line-height: 300%;
}

.cards-section {
    text-align: center;
    line-height: 200%;
    font-size: 24px;
    padding-top: 20px;
    margin: 20px;
}

.cards {
    display: flex;
    justify-content: space-between;
}

.fade {
    flex-grow: 1;
    color: white;
    display: inline-block;
    opacity: 1;
    padding: 98px 64px;
    background: rgb(82, 149, 221);
    text-decoration: none;
    border-width: 5px;
    border-style: solid;
    border-image: initial;
    border-color: rgb(82, 149, 221);
    border-radius: 10px;
    margin: 20px;
    transition: all 0.3s ease 0s;
}