@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;

}

header {
	height: 50px;
	width: 100%;
	border: 1px solid #d6d6d6;
	display: flex;
	justify-content: space-between;
	position: fixed;
	top: 0px;
  bottom: 0px;
	background: white;
  z-index: 3;


}

header .logo {
	width: 90px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 25px;

}

header nav {
	height: 50px;
	width: 350px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 10px 0 0;
	color: #776f6f;
}

header nav a {
	text-decoration: none;
	color: black;
}
header nav a:hover {
	text-decoration: none;
	color: black;
  cursor: pointer;
	color: #5295dd;
}

header nav ul li {
	display: inline-block;
	padding: 0 10px;
}


#wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

#inner {
    background: url(img/stud.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#inner h1, h2 {
    color: #f9f8f4;
    background-color: transparent;
    text-shadow: 1px 1px #000;
    z-index: 1;
}

#inner h1 {
    font-size: 50px;
    font-weight: 700;
    margin: 10px;
}

#inner h2 {
    font-size: 18px;
    font-weight: 400;
}

#content{
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.about-info{
  width: 500px;
  height: 350px;
}



.about-info h4 {
  font-size: 30px;
  font-weight: normal;
  font-style: oblique;
  text-transform: uppercase;
  text-align: center;
}

.about-info span{
  color: #5295dd;
  font-weight:bold;
}

.about-info p{
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  padding-top: 20px;
}


.box-orange{
  width: 500px;
  height: 350px;
  background-color: #5295dd;
  border-radius: 5px;
}

.img{
  height: 50px;
  width: 60px;
  margin-top: -34px;
  background: url(img/qua.png);
  background-size: 80px;
  background-repeat: no-repeat;
}




.box-orange p {
  width: 280px;
  margin-left: 167px;
  margin-top: 34px;
  color: #f7f7f7;
  font-style: italic;

}
#content-right {
    background-color: transparent;
    width: 600px;
    height: 300px;
    display: flex;
    margin: 150px 0 150px 0;
    flex-direction: column;
    align-items: center;
}


#content-left {
    background-color: transparent;
    width: 600px;
    height: 300px;
    display: flex;
    margin: 150px 0 150px 0;
    flex-direction: column;
    align-items: center;
}

#price {
    border-top: solid 1px;
    border-color: lightgrey;
    background-color: ;
    width: 100%;
    height: 550px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.basic{
  width: 200px;
  height: 300px;
  background-color: #f7f7f7;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.basic .basic-logo{
  width: 200px;
  height: 50px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: #5295dd;
  display: flex;
  justify-content: center;
}

.basic ul{
  list-style-type: none;

}



.basic .basic-logo h2{
  font-size: 25px;
  text-shadow: none;
  text-transform: uppercase;
  margin-top: 10px;
}


.business{
  width: 200px;
  height: 300px;
  background-color: #f7f7f7;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.business .business-logo{
  width: 200px;
  height: 50px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: #5295dd;
  display: flex;
  justify-content: center;
}

  .business ul{
    border-top: solid 2px;
    border-color: #fff;
    list-style-type: none;


}

  .business li{
    display: flex;
    justify-content: center;
    font-size: 15px;
    margin-top: 30px;

}

  .business .button{
    background-color: #5295dd;
    width: 125px;
    height: 30px;
    border-radius: 15px;
    margin-top: 50px;
    margin-left: 39px;
    display: flex;
    justify-content: center;

}




  .business .button:hover{
    background-color: #277edb;

}

  .business a{
      display: flex;
      text-decoration: none;
      color: #fff;
      justify-content: center;
      align-items: center;


}




  .business .business-logo h2 {
    font-size: 25px;
    text-shadow: none;
    text-transform: uppercase;
    margin-top: 10px;
}
  .business p{
    font-size: 25px;
    margin-left: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}


  /*.button-buy{
    height: 15px;
    width: 150px;
    border-radius: 20px;
    background-color: #DD6925;
  }
    .button-buy p {
      justify-content: center;
      color: #fff
    }*/
.enterprise{
  width: 200px;
  height: 300px;
  background-color: #f7f7f7;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.enterprise .enterprise-logo{
  width: 200px;
  height: 50px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: #5295dd;
  display: flex;
  justify-content: center;
}
.enterprise ul{
  list-style-type: none;
}

.enterprise .enterprise-logo h2{
  font-size: 25px;
  text-shadow: none;
  text-transform: uppercase;
  margin-top: 10px;
}


footer {
    border-top: solid 1px;
    border-color: lightgrey;
    width: 100%;
    height: 50px;
    text-align: center;
    padding: 25px 0 0 0;
}


#contact {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    border-top: solid 1px;
    border-color: lightgrey;
}

#info {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;
    margin: 10px;
    background-color: transparent;
    border: solid 1px #d6d6d6;
    flex-direction: column;
}

#info i {
    position: absolute;
    top: -18px;
}



#info p {
    align-self: flex-start;
    margin-left: 70px;
}

#info h1 {
    display: flex;
    justify-content: center;
    margin: 10px;
    text-shadow: 1px;
}


.working-here {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: transparent;
  width: 390px;
  height: 250px;
  border-radius: 20px;
  background-color: #f7f7f7;
  margin: 150px 0 150px 0;
}

.working-here h4{
  margin-top: 15px;
  font-size: 30px;
  font-weight: normal;
  font-style: oblique;

}

.working-here p{
  font-size: 15px;
  text-align: center;

}
.working-here span{
  color: #5295dd;
  font-weight:bold;
}


.blur{
  filter: blur(10px);
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    width: 400px;
    height: 200px;
    background-color: #5e5c5a;
    opacity: 0.4;
    margin-top: -144px;


}

#loginBox.showLogin {
    top: 50px;
}


#loginBox {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: fixed;
    Top: -250px;
    right: 0px;
    height: 200px;
    width: 180px;
    background-color: #f7f7f7;
    padding: 20px;
    border: none;
    transition: top 1s;
    border-bottom-left-radius: 5px;
    box-shadow: 1px 1px darkgray;
    z-index: 2;


}

#loginBox input{
    width: 150px;
    height: 30px;
    font-size: 17px;
    border: none;
    border-radius: 2px;
}

#loginBox button{
    width:150px;
    height: 30px;
    font-size: 17px;
    background-color: #5295dd;
    border: none;
    border-radius: 2px;

}

#faultLogin {
    width: 150px;
    color: red;
    font-size: 12px;
    visibility: hidden;
    margin: 5px;
}

#faultLogin.showFault{
    visibility: visible;
}
