@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;

}

#main-nav {
    height: 60px;
    position: fixed;
    width: 100%;
    background-color: #f9f8f4
}

#main-nav a {
    float: right;
    margin: 10px;
    padding: 10px;

    border-radius: 2px;
    text-decoration: none;
    color: #000;

}
#main-nav a:hover{
  color: lightblue;
}

#main-nav h1 {
    float: left;
    padding: 10px;
    font-weight: 700;
    font-size: 30px;

}

#wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f9f8f4

}

#inner {
    background: url(img/background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#inner h1, h2 {
    color: #f9f8f4;
    background-color: transparent;
    text-shadow: 1px 1px #000;

}

#inner h1 {
    font-size: 50px;
    font-weight: 700;
    margin: 10px;
}

#inner h2 {
    font-size: 18px;
    font-weight: 400;
}

#content{
  background-color:;
  width: 100%;
  height: 400px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;


}

#first{
    background-color: transparent;
    width: 600px;
    height: 200px;
    display: flex;
    margin-top: 150px;
}
#second{
    background-color: transparent;
    width: 600px;
    height: 200px;
    display: flex;
    margin-top: 150px;

}

footer {
  border-top: solid 1px;
  border-color: lightgrey;
  width: 100%;
  height: 50px;
  text-align: center;
  padding: 25px 0 0 0;
}

#login{
  border-top: solid 1px;
  border-color: lightgrey;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: space-around;
  background-color: #e6ecf0;


}

#login div{
  height: 300px;
  width: 200px;
  background-color: transparent;
  padding: 10px;
  margin: auto;


}

#student-login i{
  background-color: transparent;
}
#teacher-login i{
  background-color: transparent;
}
#admin-login i{
  background-color: transparent;
}

#student-login label, b{
  background-color: transparent;
}

}
#teacher-login label, b{
  background-color: red;
}

#admin-login label, b{
  background-color: transparent;
}




#contact{
  width: 100%;
  height: 500px;
  display: flex;
  background-color: #f9f8f4;
  border-top: solid 1px;
  border-color: lightgrey;

}

#map{
  width: 100%;
  height: 100%;
  background-color: none;

}
