
hr {
  margin: 0 0px;
}

article.articleClass.courseEval{
  flex-direction: column;
  height
}

.coursePlan {
	display:flex;
	flex-direction: column;
  width: 95%;
}

.coursePlan h1 {
	margin-top: 30px;
	margin-bottom: 0px;
	font-size: 35px;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
}
.coursePlan h2 {
	font-size: 23px;
  color: #EA6D2C;
}

.coursePlan h3 {
	font-size: 20px;
}

.coursePlan p {
	font-size: 18px;
	margin: 10px 0;
}

/*Evaluation////////////////////////////*/

.evalForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.answers{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.courseEval button[type=button]{
  width: 200px;
  height: 50px;
  background-color: #DD6925;
  border-radius: 5px;
  border: 0px;
  color: white;
  font-size: 20px;
  display: flex;
  justify-content:center;
  margin-bottom: 20px;
  margin-left: 40px;
  margin-top: 20px;
}

#textBlock{
  overflow: hidden;
  resize: none;
  width: 100%;
  margin-top: 0px;
  border: 1px solid;
  border-radius: 5px;
  display: flex;
}

.evalFieldsets{
  border: 0px;
}

.evalFieldsets p{
  display: flex;
}

.questions{
  border-top: 1px solid;
  margin: 20px;
  padding-top: 20px;
  display: flex;
  font-size: 20px;
}

#evalTitle{
  display: flex;
  margin-top: 30px;
  font-size: 27px;
  justify-content: flex-start;
  color: #EA6D2C;
}

.answers input[type=radio] {
  transform: scale(1);
}

.courseEval legend{
  margin-left: 20px;
}

.pDiv{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}


.evalForm input[type="radio"] {
	-webkit-appearance: none;
	margin: 0 10px;
	width: 24px;
	height: 24px;
	background: white;
	box-shadow: inset 0 0em #DD6925, 0 0 0 0.1em #DD6925;
	border-radius: 50%;
	transition: 0.2s;
	cursor: pointer;
	color: #DD6925;
  }

.evalForm input[type="radio"]:hover {
	background: #DD6925;
	box-shadow: inset 0 0 0 0.4em white, 0 0 0 0.2em;
  }
.evalForm input[type="radio"]:checked {
	background: #DD6925;
	box-shadow: inset 0 0 0 0.3em white, 0 0 0 0.3em;
  }

.evalForm input[type="radio"]:focus {
	outline: 0;
  }
.evalForm #q3  {
	resize: none;
	width: 300px;
	height: 60px;
	margin: 20px;
}

.evalForm div {
	margin-top: 15px;
}
.evalForm p {
	padding: 7px;
}
/*
#send:checked {
	background: #0CA22D;
	transition: all 0.2s ease;
}
*/
