
hr {
  margin: 0 0px;
}

.coursePlan {
	display:flex;
	flex-direction: column;
}

.coursePlan h1 {
	margin-top: 30px;
	margin-bottom: 0px;
	font-size: 35px;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
}
.coursePlan h2 {
	font-size: 23px;
	margin-top: 25px;
}

.coursePlan h3 {
	font-size: 20px;
}

.coursePlan p {
	font-size: 18px;
	margin: 10px 0;
}

/*Evaluation////////////////////////////*/

.evalForm{
  border: 1px;
  border-color: lightgrey;
  border-style: solid;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.answers{
  margin-left: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.courseEval button{
  width: 100%;
  height: 60px;
  background-color: #5295dd;
  border-radius: 20px;
  border: 0px;
  color: white;
  font-size: 20px;
  display: flex;
  justify-content:center;
}

#textBlock{
  overflow: hidden;
  resize: none;
  width: 100%;
  margin-top: 0px;
  border: 1px solid;
  font-size: 18px;
  display: flex;
}

.evalFieldsets{
  border: 0px;
  margin: 20px 20px 20px 0px;
}

.evalFieldsets p{
  display: flex;
  justify-content:center;
  font-size: 20px;
}

.questions{
  border-top: 40px solid;
  border-color: #5295dd;
  margin: 20px;
  padding-top: 20px;
  font-size: 30px;
  display: flex;

}

#evalTitle{
  display: flex;
  margin-left: 30px;
  margin-top: 30px;
  font-size: 50px;
}

.answers input[type=radio] {
  transform: scale(2);
  display: flex;
  flex-direction: row;
}

.answers label{
  font-size: 25px;
  margin-left: 15px;
  margin-right: 15px;
}

.pDiv{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
