
.taskClass{
  display: flex;
  flex-direction: column;
  height: 250px;
  width: 100%;
  border: 1px lightgray solid;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 5px;
  flex-wrap: nowrap;
}
.taskClass h1{
  font-size: 20px;
  margin-left:10px;
  margin-top: 10px;
}
.taskClass h2{
  font-weight: normal;
  font-style: italic;
  margin:10px;
  width: 100px;
}
.taskClass h3{
  font-weight: normal;
  margin-top: 10px;
  margin-left: 10px;
}
.taskClass p{
  margin-left:10px;
  margin-bottom: 10px;
}
.taskClass form{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 300px;
  height: 75px;
  margin-top: 10px;
  margin: 0 10px;
}
.taskClass input[type=button]{
  width: 90px;
  height: 25px;
  margin: 5px 0px;
}
.taskClass div:first-of-type{
  display: flex;
  flex-direction: column;
}
.articleColumn{
  height: 1300px;
  width: 40%;
}
.articleColumn:last-of-type{
  margin-left: 28px;
}

.articleColumn h1 {
  margin-bottom: 20px;
  font-size: 25px;
  /* padding: 0 15px; */

  color: #EA6D2C;
}

.taskClass input[type=button]{
  background-color: #EA6D2C;
  color: white;
  border: 0px;
  border-radius: 5px;
}

.grading{
  font-weight: bold;
  font-size: 30px;
  color: #EA6D2C;
  font-family:serif;
  margin:0px;
}

@media (max-width: 800px){
  .articleClass{
    flex-direction: column;
  }
  .articleColumn{
    height: 1175px;
    width: 100%;
  }
  .articleColumn:last-of-type{
    margin-left: 0px;
  }
}
