.teachers{
  display: none;
  justify-content: flex-start;
  flex-direction: column;
  //border: 1px black solid;
  height: 100%;
  width: 100%;
}
.teacherbox{
  display: flex;
  flex-direction: row;
  margin: 20px 20px;
  border: 1px lightgray solid;
  border-radius: 5px;
  width: 400px;
  height: 150px;
}
.teachers h1{
  font-size: 25px;
  font-weight: normal;
  margin-left: 20px;
}
.teachers p{
  font-size: 16px;
  margin-left: 20px;
  margin-top: 5px;
}

.teacherimg{
  
  height: 100px;
  width: 100px;
  margin: 5px 10px;
}

.teacherimg img {
  height:110px;
  width: 110px;
  border-radius: 5px;
}