.assignments-wrapper {
	flex-direction: column;
}

.articleClass .assignments-section {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 0 0 0 10px;
	margin: 10px 0 25px 0;
}

.create-new-assignment-button {
	height: 70px;
	width: 100%;
	display: flex;
	align-items: center;
}

.create-new-assignment-button i {
	cursor: pointer;
	margin: 0 10px 0 0;
}

.create-new-assignment {
	width: 55%;
	overflow: hidden;
}

.assignment-details-container {
	display: flex;
	flex-direction: column;
}

.create-new-assignment form {
	/* width: 300px;
	height: 300px; */
	display: flex;
	flex-direction: column;
}

.create-new-assignment form input {
	margin: 10px 0;
	margin: 10px 0;
	height: 30px;
	padding: 10px;
	font-size: 15px;
}

.create-new-assignment input[type="button"] {
	width: 50%;
}


.assignments-header {
	width: 100%;
	transition: all 1s ease;
}

.assignments-header h1 {
	cursor: pointer;
}
.assignment-student-name {
	cursor: pointer;
}

.assignment-description {
	width: 55%;
	margin: 25px 0;
}

.assignment-description ul {
	margin: 20px 0;
}

.assignment-description ul li{
	list-style: disc;
	margin: 0 20px;
}

.colapsed {
	height: 50px;
	overflow: hidden;
	padding: 0 0 0 10px;
	margin: 10px 0;
}

.assignment .edit-grade {
	position: relative;
	top: -30px;
	right: -380px;
}

.assignments-pending, .assignments-done {
	margin: 20px 0;
}

.assignment .edit-grade:hover {
	cursor: pointer;
}

.hide {
	display: none;
}

.show {
	display: block;
}

.articleClass .assignments-section .assignment {
	display: flex;
	flex-direction: column;
	border: 1px solid lightgray;
	border-radius: 5px;
	padding: 10px;
	margin: 0px 10px 10px 0;
	width: 450px;

}

.assignment  .assignment-file {
	color: gray;
	font-style: italic;
	font-size: 15px;
}

.assignment .assignment-file:hover {
	cursor: pointer;
	text-decoration: underline;
}

.assignment form {
	display: flex;
	flex-direction: column;
	margin: 20px 0 0 0;
}

.assignment form select {
	width: 100px;
}

.assignment label {
	margin: 10px 0 5px 0;
}

.assignment form input[type="submit"] {
	width: 100px;
	margin: 10px 0;
}

.articleClass h1 {
	font-size: 25px;
	margin: 10px 0;
	color: #dd6925;
}

.articleClass h2 {
	font-size: 20px;
	margin: 10px 0;
}

.articleClass p {
	margin: 10px 0;
}

.articleClass textarea {
	height: 100px;
	margin: 5px 0 10px 0;
}

.done-grade {
	height: 40px;
	overflow: hidden;
	transform: all 1s ease;
}

@media (max-width: 800px) {
	.colapsed {
		height: 100px;
		overflow: hidden;
	}
	.assignments-header h1 {
		width: 200px;
	}
	.articleClass .assignments-section .assignment {
		width: auto;
	}
	.assignment-description{
		width: auto;
	}
	.articleClass .assignments-section .assignment {
		margin-bottom: 20px;
	}
	.create-new-assignment {
		width: auto;
	}
}
